<?php
$_thematic = Mage::getSingleton('showcase/config_source_thematic')->toOptionArray();
$_location = Mage::getSingleton('showcase/config_source_location')->toOptionArray();
$_thematic2 = Mage::getSingleton('showcase/config_source_thematic2')->toOptionArray();
$_price = Mage::getSingleton('showcase/config_source_price')->toOptionArray();
$_pension = Mage::getSingleton('showcase/config_source_pension')->toOptionArray();
$Data = $this->getCurrentData();
$Data = unserialize($Data['show_value']);
?>
<div class="entry-edit-head">
    <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('ShowCase') ?></h4>
    <div class="form-buttons"></div>
</div>
<div class="fieldset">
    <h3><?php echo $this->__('Maneger') ?></h3>
    <table cellspacing="0" class="form-list">
        <thead>
            <tr>
                <th colspan="3"></th>
                <th><?php echo $this->__('Location Tag') ?></th>
                <th><?php echo $this->__('Thmeatic Tag') ?></th>
                <th><?php echo $this->__('Pension Tag') ?></th>
                <th><?php echo $this->__('Thmeatic2 Tag') ?></th>
                <th><?php echo $this->__('Price Tag') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php for ($i = 1; $i <= 20; $i++) {?>
            <tr>
                <th><?php echo $this->__('Image' . $i) ?></th>
                <td><img src="<?php echo (Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'showcase/'.$Data['image'][$i]);?>" alt="" height="30" width="40"></td>
                <td><input type="file" name="<?php echo $this->__('image['.$i.']')?>" id="image" multiple></td>
                <td>
                    <select name="<?php echo $this->__('location['.$i.']')?>" id=""><?php foreach ($_location as $key => $location) {?>
                    <option value="<?php echo $location['value'] ?>" <?php if ($location['value'] == $Data['location'][$i]) echo 'selected';?>><?php echo $location['label'] ?></option>
                    <?php } #end foreach loop?>
                    </select>
                </td>
                <td>
                    <select name="<?php echo $this->__('thematic['.$i.']')?>" id=""><?php foreach ($_thematic as $key => $thematic) {?>
                    <option value="<?php echo $thematic['value'] ?>" <?php if ($thematic['value'] == $Data['thematic'][$i]) echo 'selected';?>><?php echo $thematic['label'] ?></option>
                    <?php } #end foreach loop?>
                    </select>
                </td>
                <td>
                    <select name="<?php echo $this->__('pension['.$i.']')?>" id=""><?php foreach ($_pension as $key => $pension) {?>
                    <option value="<?php echo $pension['value'] ?>" <?php if ($pension['value'] == $Data['pension'][$i]) echo 'selected';?>><?php echo $pension['label'] ?></option>
                    <?php } #end foreach loop?>
                    </select>
                </td>
                <td>
                    <select name="<?php echo $this->__('thematic2['.$i.']')?>" id=""><?php foreach ($_thematic2 as $key => $thematic2) {?>
                    <option value="<?php echo $thematic2['value'] ?>" <?php if ($thematic2['value'] == $Data['thematic2'][$i]) echo 'selected';?>><?php echo $thematic2['label'] ?></option>
                    <?php } #end foreach loop?>
                    </select>
                </td>
                <td>
                    <select name="<?php echo $this->__('price['.$i.']')?>" id=""><?php foreach ($_price as $key => $price) {?>
                    <option value="<?php echo $price['value'] ?>" <?php if ($price['value'] == $Data['price'][$i]) echo 'selected';?>><?php echo $price['label'] ?></option>
                    <?php } #end foreach loop?>
                    </select>
                </td>
            </tr>
            <?php } #end for loop?>
        </tbody>
    </table>
</div>