.test-index-form .buttons-set {
    max-width: 455px;
}

.test-index-form .fieldset, .test-index-form .buttons-set {
    margin-left: 30px;
}

.page-title h1 {
    border: 0 !important;
    text-align: left;
}

.product-view .add-to-cart {
    border: 0!important;
}

.product-name-bottom h1 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid #cccccc;
    color: #3399cc;
    padding-bottom: 3px;
    margin-bottom: 15px;
}

.test-contact-index .buttons-set {
    margin-right: 186px;
}

/******************************************************************** */

.accordion {
    margin-left: 37.5rem;
    width: 50%;
}

.head {
    font-size: 20px;
    font-weight: bolder;
}

li a.head {
    width: 100%;
    display: block;
    background: transparent;
    color: #58caeb;
    padding: 5px;
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.inner {
    padding-left: 1em;
    overflow: hidden;
    display: none;
}

li {
    margin: .5em 0;
}

li a.toggle {
    width: 100%;
    display: block;
    background: #f5f5f5;
    color: #58caeb;
    padding: 5px;
    border-radius: 0.15em;
    text-decoration: none;
}

.plusminus {
    float: right;
}

/* --------------------------------------------show case ------------------------------------ */

.showcase-index-index .show {
    float: left;
    padding: 15px;
    width: 50%;
    height: 15rem;
}

.showcase-index-index .show img {
    display: inline-block;
    border: 2px solid;
}

.showcase-index-index .show .contant {
    color: white;
    text-align: center;
    position: relative;
    bottom: 11.5rem;
    font-size: 18px;
}