<tr>
    <th colspan="2" style="<?php echo $this->getTotal()->getStyle() ?>" class="a-right">
       <?php
            if($this->getQuote()->getItemsSummaryQty()<=2){
            $block = $this->getLayout()->createBlock('checkout/cart_shipping');
            $block->setTemplate('test/checkout/total/shipping/dropdown.phtml');
            echo $block->_toHtml();}
        ?>
    </th>
</tr>