  <ul class="bxslider">
     <li><img src="http://127.0.0.1/magento/media/slider/1.jpg" title="Funky roots testing" /></li>
     <li><img src="http://127.0.0.1/magento/media/slider/2.jpg" title="The long and winding road dancing" /></li>
     <li><img src="http://127.0.0.1/magento/media/slider/3.jpg" title="Happy trees singing" /></li>
 </ul>
 <script>
    jQuery('.bxslider').bxSlider({
    mode: 'fade',
    captions: true
   });
 </script>