.adminhtml-show-edit .main-col {
    margin-left: 0;
    padding: 0;
}

.adminhtml-show-edit .side-col, .adminhtml-show-index .content-header td.form-buttons {
    display: none;
}

.adminhtml-show-edit .columns {
    background: none;
}

.adminhtml-show-edit .form-list tr {
    height: 30px;
}

.adminhtml-show-edit .form-list th:not(:last-child) {
    width: 160px;
}

.adminhtml-show-edit .form-list tr td select {
    width: 155px;
}

.adminhtml-show-edit .form-list tr td img {
    margin-right: 15px;
}