<?php
$_description = $this->getProduct()->getDescription();
$_sortDescription = $this->getProduct()->getShortDescription();
$descriptionArr = explode("##", $_description);
$sortDescriptionArr = explode("##", $_sortDescription);
?>


<ul class="accordion">
    <li>
        <ul>
            <li>
                <a class="toggle head" href="#">Regras
                    <span class="plusminus">+</span>
                </a>
                <ul class="inner">
                    <li>
                        <a href="#" class="toggle">Regras da oferta
                            <span class="plusminus">+</span>
                        </a>
                        <ul class="inner">
                            <?php foreach ($descriptionArr as $key => $value) {
                                $subArray = explode(PHP_EOL, $value);?>
                                <li>
                                    <?php 
                                    foreach ($subArray as $key => $value) {
                                        if ($key == 0) {
                                    ?>                         
                                        <a class="toggle" href="#">
                                            <span class="plusminus">+</span>
                                            <?php echo $value ?> 
                                        </a>
                                            <?php } # end if
                                            else { 
                                                unset($subArray[0]);
                                                $subArrayText=implode($subArray);
                                            ?>    
                                            <div class="inner"><?php echo $subArrayText;  #end else?></div>
                                    <?php } #end else 
                                         }  #end foreach subarray?>
                                </li>
                            <?php } #end foreach descriptionArr?>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="toggle">Politica de alteracao e cancelament
                            <span class="plusminus">+</span>
                        </a>
                        <ul class="inner">
                            <?php foreach ($sortDescriptionArr as $key => $value) {
                                $subArray = explode(PHP_EOL, $value);?>
                                <li>
                                    <?php 
                                    foreach ($subArray as $key => $value) {
                                        if ($key == 0) {
                                    ?>                         
                                        <a class="toggle" href="#">
                                            <span class="plusminus">+</span>
                                            <?php echo $value ?> 
                                        </a>
                                            <?php } # end if
                                            else { 
                                                unset($subArray[0]);
                                                $subArrayText=implode($subArray);
                                            ?>    
                                            <div class="inner"><?php echo $subArrayText;  #end else?></div>
                                    <?php } #end else 
                                         }  #end foreach subarray?>
                                </li>
                            <?php } #end foreach sortDescriptionArr?>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

