<?php
$data=$this->getContent();
foreach ($data as $key => $value) {
    $data = unserialize($value['show_value']);
}#end foreach loop
$length = count($data['image']);
for ($i=1; $i <=$length ; $i++) 
{ 
?>

    <div class="show">
        <img src="<?php echo (Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'showcase/'.$data['image'][$i]);?>" height="200" width="550" />
        <div class="contant">
                <p class="location"><?php echo $this->__($data['location'][$i]);?></p>
                <p class="thematic"><?php echo $this->__($data['thematic'][$i]);?></p>
                <p class="pension"><?php echo $this->__($data['pension'][$i]);?></p>
                <p class="thematic2"><?php echo $this->__($data['thematic2'][$i]);?></p>
                <p class="price"><?php echo $this->__($data['price'][$i]);?></p>
        </div>
    
    </div>

<?php } #end for loop?>
