<div class="account-create">
    <div class="page-title">
        <h1><?php echo $this->__('Application From') ?></h1>
    </div>
    <?php echo $this->getChildHtml('form_fields_before')?>
    <?php echo $this->getMessagesBlock()->toHtml() ?>
    <form name="test-form" id="my-custom-form" action="<?php echo $this->getUrl('test/index/save') ?>" method="Post"class="scaffold-form" enctype="multipart/form-data">
        <div class="fieldset">
            <p class="form-instructions"><?php echo $this->__('Please enter the following information.') ?></p>
            <p class="required"><?php echo $this->__('* Required Fields') ?></p>
           <ul class="form-list">
                <li class="fields">
                    <div class="field">
                        <label for="firstname"><?php echo $this->__('First name') ?> <span class="required"></span></label> 
                        <div class="input-box">
                            <input type="text" id="firstname" name="firstname" class="input-text required-entry" />
                        </div>
                    </div>
               </li>
                <li class="fields">
                    <div class="field">
                        <label for="lastname"><?php echo $this->__('Last name') ?> <span class="required"></span></label> 
                        <div class="input-box">
                            <input type="text" id="lastname" name="lastname" class="input-text required-entry" />
                        </div>
                    </div>
               </li>
                <li class="fields">
                    <div class="field">
                        <label for="useremail"><?php echo $this->__('Email') ?> <span class="required"></span></label> 
                        <div class="input-box">
                            <input type="text" name="useremail" id="useremail" class="input-text required-entry validate-email" />
                        </div>
                    </div>
               </li>
                 <li class="fields">
                    <div class="field">
                        <label for="mobile"><?php echo $this->__('Mobile') ?> <span class="required"></span></label> 
                       <div class="input-box">
                            <input type="text" name="mobile" id="mobile" class="input-text required-entry validate-number " />
                       </div>
                    </div>
                </li>
                 <li class="fields">
                    <div class="field">
                        <label for="post"><?php echo $this->__('Emp-Post') ?> <span class="required"></span></label> 
                        <div class="input-box">
                            <input type="text" name="post" id="post" class="input-text required-entry" />
                        </div>
                    </div>
                </li>
            </ul>    
        </div>
        <div class="buttons-set">
            <button type="submit" title="<?php echo $this->quoteEscape($this->__('submit')) ?>" class="button"><span><span><?php echo $this->__('submit') ?></span></span></button>
            <p class="back-link"><a href="<?php echo $this->getUrl('test/index/index') ?>" class="back-link"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
        </div>

        
    </form>
    <script>
        //< ![CDATA[
            var customForm = new VarienForm('my-custom-form');
        //]]>
    </script>
</div>