<?php
$collection = $this->getContent();
?>
<div class="buttons-set">
    <a title="<?php echo $this->quoteEscape($this->__('Insert Data')) ?>" class="button" href="<?php echo $this->getUrl('test/index/form') ?>"><span><span><?php echo $this->__('Insert Data') ?></span></span></a>
</div>
<div class="page-title">
    <h1><?php echo $this->__('Information') ?></h1>
</div>

<table class="data-table orders" >
  <col width="10%" />
    <col width="20%" />
    <col width="20%" />
    <col width="20%" />
   <col width="20%" />
    <col width="20%" />
    <thead>
        <tr>
            <th><?php echo $this->__('Id#') ?> </th>
            <th><?php echo $this->__('First name') ?> </th>
            <th><?php echo $this->__('Last name') ?> </th>
            <th><?php echo $this->__('Email') ?></th>
            <th><?php echo $this->__('Mobile') ?> </th>
            <th><?php echo $this->__('Post') ?> </th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    
    <?php foreach ($collection as $key=>$row) {?>
        <tr class="element" id= <?php echo $row['test_id'] ?> >
            <td ><?php echo $key+1 ?></td>
            <td class="row_data" col_name="fname"><?php echo $row['fname'] ?></td>
            <td class="row_data" col_name="lname"><?php echo $row['lname'] ?></td>
            <td class="row_data" col_name="email"><?php echo $row['email'] ?></td>
            <td class="row_data" col_name="mobile"><?php echo $row['mobile'] ?></td>
            <td class="row_data" col_name="emp_post"><?php echo $row['emp_post'] ?></td>
            <td class="a-center"><button type="submit" class="button btn-update save "><span><span><?php echo $this->__('Save'); ?></span></span></button></td>
            <td class="a-center"><button type="submit" class="button btn-update edit "><span><span><?php echo $this->__('Update'); ?></span></span></button></td>
            <td class="a-center"><button type="submit" class="del"><a href="" class="btn-remove btn-remove2" value="<?php echo $row['test_id'] ?>"><?php echo $this->__('Remove Item') ?></a></button></td>
        </tr>
    <?php }?>
    </tbody>
</table>
<script type="text/javascript">
(function ($) {
$(document).ready(function () {
    $(".save").hide();
    $(document).on('click', '.del', function (event) {
        event.preventDefault();
        var tbl_row = $(this).closest('tr');
        var row_id = tbl_row.attr('id');
        console . log(row_id);
        $.ajax({
            url:"<?php echo $this->getUrl('test/index/delete') ?>",
            type: 'POST',
            data: {'id':row_id},
            success: function(data){
            location . reload();

            }
        });
    });
    $(document).on('click', '.save', function (e) {
            var tbl_row = $(this).closest('tr');
            var row_id = tbl_row.attr('id');
            tbl_row.find('.save').hide();
            tbl_row.find('.edit').show();
            tbl_row.find('.row_data')
                .attr('edit_type', 'click')
                .removeAttr('contenteditable')
                .css('background-color', 'white')
                .css('padding', '')
            var arr = {};
            tbl_row.find('.row_data').each(function (index, value) {
                var col_name = $(this).attr('col_name');
                var col_value = $(this).html();
                arr[col_name] = col_value;
            });
            var fname = arr['fname'];
            var lname = arr['lname'];
            var email = arr['email'];
            var mobile = arr['mobile'];
            var emp_post= arr['emp_post']
            $.ajax({
                url: "<?php echo $this->getUrl('test/index/load') ?>",
                type: 'POST',
                data: { row_id: row_id, fname: fname, lname: lname, email: email, mobile: mobile,emp_post :emp_post },
                cache: false,
                success: function (data) {
                    console.log(data);

                }
            });

        });

   });
})(jQuery);
</script>
